.ys_content_div {
    width: 84%;
    margin-left: 8%;
    align-content: center;
    /*border: 1px red solid;*/
    /*overflow: auto;*/
}

.ys_control_div {
    border: 1px rgb(170, 143, 88) solid;
    border-radius: 10px;
    padding: 10px;
    /*width: 2000px;*/
    width: 100%;
    overflow: auto;

}

.ys_control_div_content {
    /*width: 1500px;*/
    display: flex;
    /*border: 1px red solid;*/
    justify-content: space-between;
}

.ys_control_div_content div {
    padding: 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
    line-height: 39px;
    width: 139px;
    height: 45px;
    border: 1px rgba(63, 33, 16, 0.07) solid;
    text-align: center;
    background-color: rgba(175, 136, 72, 0.23);
    /*box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.27);*/
    border-radius: 15px;
}

.ys_control_div_content div:hover {
    /*background-color: rgb(198, 167, 101);*/
    border: 1px rgba(63, 33, 16, 0.65) solid;
}

.ys_control_div_active {
    background-image: url("../image/云锦边框.png");
    background-size: 100% 100%;
    filter: drop-shadow(1px 1px 5px rgba(17, 17, 10, 0.82));
    width: 145px;
    height: 47px;
}

/*医史内容div*/
.ys_text_content_div {
    filter: drop-shadow(1px 1px 5px rgba(17, 17, 10, 0.82));
    margin-top: 40px;
    padding: 30px;
    width: 98%;
    background: url("../image/医史内容背景.png") no-repeat;
    height: 330px;
    background-size: 100% 100%;
}

.ys_text_content {
    /*font-size: 1.2em;*/
    text-shadow: 0px 0px 2px rgba(86, 48, 1, 0.12);
    color: #2d2414;
    height: 330px;
    /*border: #1b6d85 1px solid;*/
    /*width: 100%;*/
    padding-right: 10px;
    overflow: auto

}

.ys_text_content_imgandtext {
    padding: 1%;
}

.ys_text_content_imgandtext img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

