body {
    padding: 0;
    margin: 0;
    background-color: rgba(211, 186, 140, 0.7);
}

.test_title_div {

    z-index: 99;
    position: fixed;
    /*border-radius: 20px;*/
    width: 100%;
    background: linear-gradient(rgba(45, 28, 16, 0.69), rgba(115, 97, 66, 0.08)), url('../image/清明上河图卷全局背景.jpg'), no-repeat;
    user-select: none;
    cursor: default;
    display: inline-flex;
    justify-content: center;
    /*width: 100%;*/
    padding-top: 25px;
    padding-bottom: 25px;
    /*transition: all 0.3s;*/
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.3);

}

.title_text {
    text-align: center;
}

.title_text h1 {
    font-weight: 800;
    padding: 0;
    margin: 0;
    font-family: KaiTi, Times New Roman, serif;
    font-size: 3em;
    color: #eed9b4;
}

.title_text h5 {
    color: #ccb892;
    padding-top: 10px;
    margin: 0;
    font-size: 1.1em;
}

.test_container {
    min-width: 600px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 170px;

}


.danxuanti_div {
    width: 60%;

    color: black;
    /*font-family: KaiTi, Times New Roman, serif;*/
}

.danxuanti_div h4 {
    font-weight: 600;
}



/*单选题目*/
.danxuan_timu_div {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-top: 1px black dashed;
    /*border-bottom: 1px black dashed;*/
}

/*问题div*/
.problem_div {
    color: black;
    font-weight: 500;
    font-size: 1.1em;
    background-color: rgba(124, 124, 124, 0.33);
    border: 0
}
/*单项选择div*/
.option_div{
    background-color: rgba(124, 124, 124, 0.07);
    user-select: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    margin-top: 5px;
}
.bgc{
    color: #d2c3b3;
    background-color: rgb(77, 56, 33);
}
.button_div{
    /*padding-top: 50px;*/
    /*width: 100%;*/
    display: flex;
    justify-content: center;
}
.button_div button{
    background-color: #d2c3b3;
    padding: 5px;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    border: 1px solid #593c23;
    color: #593c23;
}
.button_div button:hover{
    background-color: #593c23;
    border: 1px solid #593c23;
}

.right{
    background-color: green;
    color: #d2c3b3;
}
.wrong{
    color: #d2c3b3;
    background-color: #da0000;
}

.jiexidiv{
    border-radius: 3px;
    font-family: inherit;
    padding: 5px;
    background-color: rgba(124, 124, 124, 0.07);
}


/*答题卡div*/
.datika_div{

    /*height: 400px;*/
    padding-top:90px ;
    /*position: -webkit-sticky;*/
    position: sticky;
    top: 120px;
    width: 21%;
    height: 400px;
    /*border: 1px solid black;*/
}

.answer_cards{
    user-select: none;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
}

.item_card{
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background-color: rgba(217, 156, 94, 0.36);
}

.selected_item_card{
    color: #d2c3b3;
    /*background-color: #0483c7;*/
    background-color: rgb(102, 75, 50);
}
.stylebutton:visited{
    /*border: 0;*/
}